* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --padrao: rgb(0, 0, 0);
    --backgroundEditorpadrao: rgb(46, 46, 46);
    --backgroundEditorDestaque: rgb(31, 31, 31);
    --colorPadrao: rgb(255, 255, 255);
    --larguraProjetos: 50vw;
}
body {
    background-color: var(--padrao);
}
h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px auto;
    color: var(--padrao);
    font-size: 3rem;
    color: var(--colorPadrao);
}

#projetosArea {
    color: var(--colorPadrao);
    width: var(--larguraProjetos);
    padding: 20px;
    margin: 50px auto 0px auto;
    border-radius: 10px;
    border: 2px solid var(--colorPadrao);
    background-color: var(--backgroundEditorpadrao);
    height: 300px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}
#projetos-container {
    display: flex;
    padding: 20px;
    border: 2px solid var(--colorPadrao);
    width: 55vw;
    margin: 5px auto;
    flex-direction: column;
}
#projetosBar {
    display: grid;
    width: var(--larguraProjetos);
    margin: 5px auto;
    border: 2px solid var(--colorPadrao);
    align-items: center;
    background-color: var(--backgroundEditorpadrao);
    grid-template-columns: 3fr 1fr;
    color: var(--colorPadrao);
    padding: 8px 8px 8px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#no-projects {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

#addProjectButton {
    width: 130px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    background-color: var(--backgroundEditorDestaque);
    color: var(--colorPadrao);
    transition: all 400ms;
}
#addProjectButton:hover {
    transform: scale(1.1);
    transition: all 400ms;
    filter: brightness(0.7);
}
main {
    z-index: 0;
}
#overlay {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
}
#projetoDesc {
    display: none;
    position: absolute;
    flex-direction: column;
    width: var(--larguraProjetos);
    color: var(--colorPadrao);
    background-color: var(--backgroundEditorpadrao);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid var(--colorPadrao);
    z-index: 2;
    top: 30vh;
    margin: 10px auto;
}
#projetoDesc h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    margin: 5px auto;
}
#projectForm {
    display: grid;
    gap: 8px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
#projectForm input[type="text"]{
    padding: 5px 5px 5px 10px;
    background-color: var(--backgroundEditorDestaque);
    color: var(--colorPadrao);
    border-radius: 5px;
    border: 2px solid var(--colorPadrao);
    font-size: 1.2rem;
}
#projectForm input[type="reset"], #projectForm input[type="submit"] {
    width: 110px;
    margin: 10px auto;
    font-size: 1.2rem;
    background-color: var(--backgroundEditorDestaque);
    color: var(--colorPadrao);
    border: 2px solid var(--colorPadrao);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: all 400ms;
    padding: 5px;
}
#projectForm input[type="reset"]:hover, #projectForm input[type="submit"]:hover {
    transform: scale(1.1);
    transition: all 400ms;
    filter: brightness(0.7);
}

.projeto {
    background-color: var(--backgroundEditorDestaque);
    color: var(--colorPadrao);
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 2px solid var(--colorPadrao);
    transition: all 400ms;
    cursor: pointer;
}

.removeButton {
    width: 32px;
    position:relative;
    right: -75px;
    top: -50px;
    transition: all 400ms;
}
.removeButton:hover {
    transform: scale(1.2);
    transition: all 400ms;
    filter: brightness(0.6);
}