* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --padrao: rgb(0, 0, 0);
    --backgroundEditorpadrao: rgb(46, 46, 46);
}
body {
    background-color: var(--padrao);
}
h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px auto;
    color: var(--padrao);
    font-size: 3rem;
    color: white;
}

#editor-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    background-color: var(--padrao);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: 50vw;
    align-items: center;
    
    margin: 10px auto;
}
#editor-form p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    text-align: center;
}
#editor-area, #editor-name {
    background-color: var(--backgroundEditorpadrao);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.4rem;
    padding-top: 5px;
    padding-left: 10px;
    border: 2px solid white;
}
#editor-area {
    overflow-y: visible;
}
#editor-form input[type="submit"], #editor-form input[type="reset"] {
    width: 100px;
    padding: 2px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--backgroundEditorpadrao);
    border: 2px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 20px auto;
    transition: all 400ms;
}
#editor-form select {
    background-color: var(--backgroundEditorpadrao);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    width: 200px;
    margin: 5px auto;
}
#editor-form input[type="submit"]:hover, #editor-form input[type="reset"]:hover {
    transform: scale(1.1);
    filter: brightness(0.7);
    transition: all 400ms;
}

#editor-name {
    padding-bottom: 5px;
}

#editor-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: var(--padrao);
    margin: 10px auto;
}
#editor-container h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: white;
}

@media screen and (min-width: 250px) and (max-width: 736px){
    #editor-form {
        grid-template-columns: 1fr;
        width: 90vw;
    }
    #editor-container {
        margin: 5px auto;
        width: 90vw;
    }
}